body {
  overflow: hidden;
}

.board-button {

  font: 2rem kreon;
  color: darkgray;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  cursor: pointer;
  position: relative;

}

.board-button:active {
  border-color: goldenrod;
}

.palette-button {

  user-select: none;
  opacity: 0.5;
  cursor: pointer;
  transition: scale 0.2s;
}

.palette-active {
  scale: 1.3;
  opacity: 1;
}

.palette-button:hover {
  scale: 1.3;
}

select {
  background-color: gray;
  outline: none;
}

.path-button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
  background-color: transparent;
  color: gray;
  font-size: 2rem;
}

.path-button:hover {
  background-color: rgb(35, 35, 35);
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: darkgray;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.button--loading>span {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

input[type="file"] {
  display: none;
}

input[type="range"] {
  cursor: pointer;
}

#github-link .git-img {

  position: fixed;
  bottom: 0;
  cursor: pointer;
}

.orbs-matched {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.8rem 0.8rem 0px;
  font: 1rem kreon;
  color: lightsteelblue;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
  overflow: auto;

}

.orbs-matched::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;

}

.orbs-matched::-webkit-scrollbar {
  background: rgb(30, 30, 30);
  height: 0.7rem;
}

.orbs-matched:hover {
  background-color: rgb(40, 40, 40);
}

.path-select {

  border-left: solid 5px darkgoldenrod;
  background-color: rgb(40, 40, 40);
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#bastet-logo:hover {
  animation-name: wiggle;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#logo-container {

  position: relative;
  height: 100%;
  border-radius: 10px;
  color: rgb(160, 170, 160);
  font: 24px kreon;
  width: 100%;
  border-top: solid green;
  border-left: solid green;
  display: flex;
  align-items: center;
  user-select: none;
}

.settings-dialog {

  background-color: rgb(30, 30, 30);
  color: darkgray;
  border-radius: 10px;
  border: 2px solid rgb(40, 40, 40);
  font: 32px kreon;
  width: 50%;
  height: 85%;

}

.settings-dialog button {

  background-color: rgb(20, 20, 20);
  color: darkgray;
  font: 32px kreon;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  margin-right: -1%;
  transition: 0.3s;
}

.edit-board-button {
  background-color: rgb(30, 30, 30);
  color: darkgray;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 2px solid gray;
  cursor: pointer;

  font: 1rem kreon;
}

.active {

  border-left-color: goldenrod;
  filter: brightness(1.1);

}

.tab-content {
  display: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.settings-dialog button.active {
  background-color: rgb(40, 40, 40);
}

.close {
  font-size: 3rem;
  font-weight: 600;
}

.settings-dialog::backdrop {
  background-image: linear-gradient(45deg,
      rgb(20, 20, 20),
      rgb(40, 40, 40));
  opacity: 0.55;
}

.sidebar-button {

  position: relative;
  display: flex;
  align-items: center;
  gap: 5%;
  padding: 5%;
  font: 1.5rem kreon;
  color: gray;
  user-select: none;
  cursor: pointer;
}

.sidebar-button:hover {

  background-color: rgb(47, 46, 46);
}

#show-dialog-button:hover img {
  transform: rotate(90deg);
}

#loadBoardCanvas {
  image-rendering: pixelated;
}

*:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font: 1rem kreon;
  background-color: rgb(20, 20, 20);
  color: darkgray;
  text-align: center;
  padding: 5px 0;
  width: 6rem;
  border-radius: 6px;
  border: 1px solid gray;
  right: 110%;
  top: 20%;

  user-select: none;
  position: absolute;
  opacity: 0;
}

.tooltip .right-tooltiptext {
  left: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: opacity 0.2s ease-in 0.2s;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent gray;

}

.icon-button {

  cursor: pointer;
  color: gray;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 10px;

}

.icon-button:hover {
  background-color: rgb(35, 35, 35);
}

.button-activate {
  color: darkgoldenrod;

}

.close-button {
  position: absolute;
  right: 5%;
  background-color: transparent;
}

.save-modal {

  background-color: rgb(30, 30, 30);
  color: darkgray;
  border-radius: 10px;
  border: 2px solid rgb(40, 40, 40);

}

.save-modal::backdrop {
  background-image: linear-gradient(45deg,
      rgb(20, 20, 20),
      rgb(40, 40, 40));
  opacity: 0.55;
}

.save-modal button {
  cursor: pointer;
  color: bisque;
  border: none;
  font: 2rem kreon;
  border-radius: 10px;
}

.save-modal button:hover {
  filter: brightness(0.9);
}

.search-bar {

  background-color: rgb(20,20,20);
  font: 1rem kreon;
  color: beige;
  border-radius: 0 10px 10px 0;
  border: none;
}

.search-symbol {

  color: darkGray;
  background-color: rgb(20,20,20);
  font-size: 1rem;
  border-radius: 10px 0 0 10px;
  padding: 1%;

}

.load-modal {

  background-color: rgb(30, 30, 30);
  color: darkgray;
  border-radius: 10px;
  border: 2px solid rgb(40, 40, 40);
  font: 3rem kreon;
  width: 60%;
  height: 85%;

}

.load-modal button {

  color: darkgray;
  font: 3rem kreon;
  border: none;
  cursor: pointer;
}

#thumbnail-grid {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5%;
  padding-bottom: 5%;
  row-gap: 50px;
  height: 50%;
  border-radius: 15px;
  background-color: rgb(40, 40, 40);
  overflow-y: auto;
  justify-items: center;
  border: 0.4rem outset rgba(61, 61, 53, 0.54);

}

#thumbnail-grid::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;
}

#thumbnail-grid::-webkit-scrollbar {
  background: rgb(30, 30, 30);
  width: 0.5rem;
}

.test {
  border-radius: 20px;
  background-color: rgb(35, 35, 35);
  border: 0.5rem ridge;
  padding: 5%;
  padding-bottom: 10%;
  height: 170px;
  width: 170px;
  cursor: pointer;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.test-select {

  background-color: black;
}

.test:hover {

  transform: translateY(5%);
}

.board-delete-button {

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: indianred;
  color:beige;
  top: 10%;
  left: 80%;
  width: 30%;
  height: 20%;
  transform: translateZ(-1px);
  transition: left 0.5s;

}

.test:hover .board-delete-button {
  left: 100%;
}

.thumbnail {
  image-rendering: pixelated;
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
}

.thumbnail-title {

  text-align: center;
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  font: 1rem kreon;
  width: 90%;
  position: relative;
  /* top: -8%; */
  color: beige
}

#chat-header {

  display: flex;
  background-color: rgb(45, 45, 45);
  height: 15%;
  font: 1rem kreon;
  color: gray;
  align-items: center;
  user-select: none;

}

#chat-box {

  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  border: 1px solid dimgray;
  padding-top: 2%;
  padding-left: 1%;
  height: 85%;
  font: 1rem kreon;
  color: gray;
  overflow-y: scroll;


}

.orb-change-button {


  display: flex;
  height: 30%;
  align-items: center;
  color: darkGray;
  font-size: 4rem;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  background-color: rgb(30, 30, 30);
  cursor: pointer;

}

.orb-change-button:active {

  border-color: darkgoldenrod;
}

#exit-button:hover {

  scale: 1.3;
  color: indianred !important;

}


#path-button-container {
  display: inline-block;
  padding: 1px;
  border-radius: 10px;
  border-bottom: 2px ridge gray;
  border-top: 2px ridge gray;
  user-select: none;
}

#edit-background {

  background-color: gray;
  width: 800px;
  height: 150px;
  background-color: rgb(25, 25, 25);
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border: 1rem solid rgb(40, 40, 40);

}

#load-button {

  font-size: 1.5rem;
  color: darkgray;
  border-radius: 10px;
  background-color: rgb(30, 30, 30);
  border: 2px outset gray;
  height: 40%;
  width: 20%;
  user-select: none;

}

#load-button:active {
  border-color: darkgoldenrod;

}

#timer-input {
  background-color: darkred;
  font: 1rem kreon;
  color: beige;
  border-radius: 10px 0 0 10px;
  width: 45%;
  text-align: center;
  margin: 0;
}

#timer-input:valid {
  background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#chat-box::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;

}

#chat-box::-webkit-scrollbar {
  background: rgb(30, 30, 30);
  width: 0.5rem;
}

#combo-paths::-webkit-scrollbar-thumb {
  background: rgb(60, 60, 60);
  border-radius: 10px;

}

#combo-paths::-webkit-scrollbar {
  background: rgb(20, 20, 20);
  width: 0.5rem;
}