body {
  overflow: hidden;
  margin: 0;
}

canvas {
  /* opacity: 0.2; */
}

.show {
  display: flex !important;
}

dialog {

  border-radius: 5px;
  border: none;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1),
    display 0.3s allow-discrete;
  opacity: 0;
  transform: scale(0.9) translateY(20px);

  &[open] {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

  @starting-style {
    &[open] {
      opacity: 0;
      transform: scale(0.9) translateY(20px);
    }
  }

  &::backdrop {
    background-color: black;
    opacity: 0.4;
    transition: opacity 0.3s ease allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }

}

.toast {
  font: 1rem Kreon;
}

.board-edit-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
  user-select: none;

}

.board-toolbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#board-edit-toolbar {

  user-select: none;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  justify-content: center;
  font-family: Kreon;
  padding: 0.4rem;
  gap: 0.5rem;
  color: beige;
  z-index: 99;

  &>div {

    display: flex;
    border: 1px solid dimgray;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;

    &>div {

      height: 2rem;
      padding: 0.2rem;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(50, 50, 50);
      }
    }
  }
}

.auxiliary-container {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 90%;
  border-radius: 100px;
  border: 1px solid gray;
  border-top: none;
  z-index: 99;

  &>div {

    position: absolute;
    display: none;
    gap: 1rem;
    justify-content: center;
    transition: display 0.3s allow-discrete;

    align-items: center;
    margin-bottom: 0.5rem;

    &>img {

      width: 1.5rem;
      user-select: none;
      opacity: 0.5;
      cursor: pointer;
      transition: scale 0.3s;
      transition-behavior: allow-discrete;
      scale: 1;

      @starting-style {
        scale: 0.5 !important;
      }

      &:hover {
        scale: 1.2;
      }
    }

    &>img.palette-active {
      opacity: 1;
      scale: 1.2;
    }

    &:not(.show) img {
      scale: 0;
    }

    &:not(.show) button {
      scale: 0;
    }
  }

}

.orb-change-container {

  &>div {

    display: flex;
    gap: 1rem;
    justify-content: center;
    transition: display 0.3s allow-discrete;
    align-items: center;

    &>img {

      width: 1.5rem;
      user-select: none;
      opacity: 0.5;
      cursor: pointer;
      transition: scale 0.3s;
      transition-behavior: allow-discrete;
      scale: 1;

      @starting-style {
        scale: 0.5 !important;
      }

      /* &:hover {
        scale: 1.2;
      } */
    }

    &>img.palette-active {
      opacity: 1;
      scale: 1.2;
    }
  }

  &>button {
    background-color: transparent;
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: scale 0.3s allow-discrete;

    &:active {
      color: pink;
    }
  }

  &>#to-orb {
    opacity: 1;
    anchor-name: --to-orb-anchor;
  }
}

.board-button-container {

  width: fit-content;
  white-space: nowrap;

  &>button {

    font: 2rem Kreon;
    color: darkgray;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    position: relative;
  }
}

.language-button {
  anchor-name: --language-anchor;
}

.language-menu {

  position-anchor: --language-anchor;
  top: anchor(bottom);
  left: calc(anchor(right) - 7rem);
  margin: 0;

  display: flex;
  flex-direction: column;
  background-color: rgb(40, 39, 39);
  font: 1rem kreon;
  color: gray;

  padding: 0;

  &::backdrop {
    background-color: transparent;
  }

  &>div {
    font-size: 1.2rem;
    padding: 1rem;
    padding-block: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(50, 50, 50);
    }

  }
}

.to-orb-menu {

  position-anchor: --to-orb-anchor;
  top: anchor(bottom);
  left: calc(anchor(right) - 7rem);
  margin: 0;

  display: flex;
  padding-block: 0.2rem;
  gap: 0.5rem;

  background-color: rgb(50, 50, 50);

  &>img {

    opacity: 0.5;
    width: 1.5rem;
    cursor: pointer;
    transition: scale 0.3s;

    &:hover {
      scale: 1.2;
    }
  }

  &>img.palette-active {
    opacity: 1;
  }

  &::backdrop {
    background-color: transparent;
  }
}

#path-button-container {

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-bottom: 2px ridge gray;
  border-top: 2px ridge gray;
  user-select: none;
  width: 100%;

  &>.path-button {
    cursor: pointer;
    border-radius: 10px;
    color: gray;
    font-size: 3rem !important;
    width: 5rem;

    text-align: center;

    &:hover {
      background-color: rgb(35, 35, 35);
    }
  }
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: darkgray;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.button--loading>span {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

input[type="file"] {
  display: none;
}

input[type="range"] {
  cursor: pointer;
}

.add-config-button {

  margin: auto;
  color: orange;
  cursor: pointer;

  &:hover {
    filter: brightness(1.2);
  }
}

#combo-paths {

  &>span {
    display: none;
    font: 1rem kreon;
    color: dimgray;
    text-align: center;
  }

  &>span:only-child {
    display: block;
  }
}

.start-position-input-container {

  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;

  &>span {
    cursor: pointer;
    user-select: none;

    &:hover {
      color: orange;
    }


  }
}

.solver-config-container {

  grid-column: -1 / -2;
  grid-row: 1 / -1;

  border-left: 1px solid rgba(105, 105, 105, 0.2);
  padding: 1rem;
  /* overflow-y: scroll; */
  scrollbar-color: rgb(45, 45, 45) transparent;

  &>details {
    padding-bottom: 2rem;

    &[open]>summary {
      &>:nth-child(3) {
        rotate: 90deg;
      }
    }

    &>summary {

      position: relative;
      display: flex;
      align-items: center;
      padding-bottom: 0.5rem;

      font: 1.2rem Kreon;
      color: gray;
      padding-left: 1rem;
      border-bottom: 1px ridge dimgray;
      border-radius: 5px;
      margin-bottom: 1rem;
      user-select: none;

      cursor: pointer;

      gap: 1rem;
      width: 100%;

      &> :first-child {
        color: orange;
        width: 1rem;
      }

      &>:nth-child(3) {
        margin-left: auto;
        margin-right: 1rem;
        color: orange;
        font-size: 0.7rem;
      }

      &:hover {
        border-bottom: 1px ridge rgba(255, 166, 0, 0.5);
      }
    }
  }

}

.solution-summary {

  &::before {
    content: "";
    position: absolute;
    left: 2px;
    right: 1px;
    bottom: 0;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(90deg,
        #ff6ec4,
        #7873f5,
        #4ade80,
        #ff6ec4);
    background-size: 300% 300%;
    animation: gradientMove 4s linear infinite;
    z-index: -1;
    transition: opacity 400ms ease-in-out;
    opacity: 0
  }

  &::after {
    content: "";
    position: absolute;
    inset: 1px;
    width: 99.2%;
    border-radius: inherit;
    background-color: rgb(25, 25, 25);
    border: 2px solid transparent;
    z-index: -1;
  }

  &.fade-border::before {
    opacity: 1;
  }
}

.water {
  accent-color: dodgerBlue;
}

.fire {
  accent-color: tomato;
}

.wood {
  accent-color: mediumseagreen;
}

.dark {
  accent-color: plum;
}

.light {
  accent-color: palegoldenrod;
}

.any {
  accent-color: beige;
}

.config-container {

  display: flex;
  flex-direction: column;
  font-family: kreon;
  color: beige;

  &>.save-load-container {

    display: flex;
    gap: 1rem;
    color: gray;
    border-radius: 5px;
    justify-content: right;

    & select {

      background-color: transparent;
      font: 1rem kreon;
      color: gray;
      border: none;
      cursor: pointer;
    }
  }

  &>.orb-weight-container {

    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding-block: 1rem;
    border-radius: 5px;
    gap: 1rem;
    margin-bottom: 0.5rem;


    &>combo-config {
      display: flex;
      align-items: center;
      justify-content: space-around;
      user-select: none;

      &>select {

        text-align: center;
        background-color: transparent;
        color: beige;
        field-sizing: fixed;
        border-radius: 5px;
        font: 1rem kreon;
      }

      &>label {
        display: flex;
        justify-content: center;
        width: 2ch;
      }

      &>img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }


  }
}

.stats-container {

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  font-family: kreon;
  color: beige;

  &>details {

    padding-left: 1rem;

    &>summary {

      list-style-position: inside;
      cursor: pointer;
      user-select: none;
    }

    &>table {
      margin-top: 1rem;
      margin-left: 1rem;

    }
  }
}

.styled-table {

  table-layout: fixed;
  width: 20rem;
  padding: 1rem;
  border-collapse: collapse;

  td:first-child {
    text-align: left;
  }

  td:last-child {
    text-align: right;
  }

  &>caption {

    caption-side: bottom;
    margin-top: 0.5rem;
    text-align: right;

    &>span {
      background-color: rgb(50, 50, 50);
      padding: 0.2rem;
      padding-inline: 0.5rem;
      border-radius: 5px;
    }
  }
}

.active {

  border-left-color: goldenrod;
  filter: brightness(1.1);

}

.tab-content {
  display: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0.5rem;
  background-color: transparent;
  user-select: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 2rem;
  font-weight: 300;

}

.sidebar-button {

  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font: 1.5rem Kreon;
  color: gray;
  user-select: none;
  cursor: pointer;

  &:hover:not(:has(.language-menu:hover)) {
    background-color: rgb(47, 46, 46);
  }
}

#loadBoardCanvas {
  image-rendering: pixelated;
}

*:focus {
  outline: none;
}

.tooltip {
  position: relative;

  & .tooltiptext {

    visibility: hidden;
    font: 1rem Kreon;
    background-color: black;
    color: darkgray;
    text-align: center;
    padding: 5px 0;
    width: 6rem;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 130%;
    user-select: none;
    position: absolute;
    opacity: 0;
  }
}

.tooltip .right-tooltiptext {
  left: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: opacity 0.2s ease-in 0.2s;
  opacity: 1;
}

.button-activate {
  color: pink !important;
  background-color: black !important;

}

.settings-modal {

  display: block;
  background-color: rgb(20, 20, 20);
  width: 40rem;

  .segment-container {

    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;

    &>div {

      font: 1rem kreon;
      color: gray;
    }

    &>.segmented-buttons {
      display: inline-flex;
      border: 1px solid gray;
      border-radius: 10px;
      user-select: none;

      &>button {

        font: 1rem kreon;
        color: gray;
        padding-inline: 1rem;
        padding-block: 0.2rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: rgb(30, 30, 30);
        }
      }

      &>button:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &>button:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &>button.active {
        background-color: rgb(40, 40, 40);
      }

      &>button:not(:last-child) {
        border-right: 1px solid gray;
      }
    }

  }

  .save-button {

    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    color: gray;
    font: 1rem kreon;
    cursor: pointer;
    user-select: none;

  }
}

.position-select-modal {

  margin: 0;
  position: fixed;
  top: 40vh;
  left: auto;
  right: 5rem;

  background-color: rgb(20, 20, 20);
  width: 20rem;

  &>.clear-button {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    color: gray;
    font: 1rem kreon;
    cursor: pointer;
    user-select: none;

    margin-left: 1rem;
  }

  &>.select-all-button {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    color: gray;
    font: 1rem kreon;
    cursor: pointer;
    user-select: none;
  }

  &>.select-position-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.2rem;
    padding: 1rem;

    &>div {

      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid gray;
      cursor: pointer;
      color: orange;
      display: grid;
      place-items: center;

      &:hover {
        border: 1px solid orange;
      }

      &.position-select-active::after {
        content: "✓";
      }
    }
  }
}

.comment-modal {

  display: flex;
  background-color: rgb(20, 20, 20);
  width: 30rem;
  height: 50vh;

  &>div {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;

    &>div {
      font: 1.5rem Kreon;
      color: gray;
    }

    &>textarea {

      border: none;
      border-radius: 5px;
      padding: 1rem;
      color: gray;
      font: 1rem Kreon;
      height: 100%;
      resize: none;
      background-color: rgb(30, 30, 30);
    }

    &>.send-comment-button {

      background-color: rgb(40, 40, 40);
      width: fit-content;
      margin-left: auto;
      border-radius: 5px;
      padding: 0.5rem;
      font: 1rem Kreon;
      color: beige;
      cursor: pointer;
      user-select: none;

      &:disabled {
        border: 2px solid transparent;
        outline: none;
        color: dimgray;
        cursor: default;
      }

    }
  }
}

.save-modal {

  display: flex;
  background-color: #1E1E1E;

  &>.input-container {

    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  img {
    image-rendering: pixelated;
    height: 2.5rem;
    background-color: black;
    padding: 0.5rem;
    border-radius: 5px;
  }

  input {

    background-color: black;
    font: 2rem Kreon;
    color: beige;
    border-radius: 5px;
    border: 1px inset gray;
    padding-left: 1rem;
    user-select: none;

  }

  .save-button {
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    color: gray;
    font: 2rem kreon;
    cursor: pointer;
    user-select: none;
  }

}



.load-dialog {
  background-color: rgb(30, 30, 30);
  display: flex;

}

.load-modal {
  display: flex;
  flex-direction: column;
  color: darkgray;
  width: 20rem;
  gap: 1rem;

  &>.search-container {

    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &>input {

      font: 1.5rem kreon;

      background-color: rgb(20, 20, 20);
      border-radius: 0 5px 5px 0;
      border: none;
      color: gray;
    }

    &>span {

      color: darkGray;
      user-select: none;
      background-color: rgb(20, 20, 20);
      font-size: 1.5rem;
      border-radius: 5px 0 0 5px;
      padding: 0.2rem;

    }
  }

  .load-button {
    background-color: rgb(30, 30, 30);
    color: gray;
    font: 1rem Kreon;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
    user-select: none;
  }

  &>.board-list {

    margin-top: 1rem;
    height: 40vh;
    background-color: rgb(20, 20, 20);
    border-radius: 5px;
    padding: 1rem;

    &>load-board-list-item.active {
      border-left: 4px solid pink;
      background-color: rgb(40, 40, 40);
    }

    &>load-board-list-item {

      display: flex;
      align-items: center;
      gap: 1rem;
      font: 1rem kreon;
      padding: 0.5rem;
      cursor: pointer;
      user-select: none;

      &>.edit-name-button {
        margin-left: auto;
      }

      &>img {
        height: 2rem;
        image-rendering: pixelated;
      }

      &:hover {
        background-color: rgb(40, 40, 40);
      }

      &>.delete {
        color: indianred;
      }
    }
  }

}

#timer-container {

  display: flex;
  align-items: center;
}

#timer-input {
  background-color: inherit;
  border: none;
  border-bottom: 1px ridge gray;
  font: 1rem Kreon;
  color: beige;
  width: 6rem;
  text-align: center;
  margin: 0;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


solver-solution {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font: 1rem Kreon;
  color: beige;
  padding: 1rem;

  user-select: none;
  cursor: pointer;
  overflow: auto;

  &>.solution-header {

    display: flex;
    font: 1rem kreon;
    color: dimgray;
    gap: 0.5rem;
  }

  &>.combo-container {
    display: flex;
    justify-content: center;

    &>img {
      width: 1rem;
      height: 1rem;
      padding: 0px 5px;
    }
  }

  &:hover {
    background-color: rgb(40, 40, 40);
  }

}

.path-select {

  border-left: solid 5px orange;
  background-color: rgb(40, 40, 40);
}

.sidebar-container {

  position: relative;
  border-right: 1px solid rgba(105, 105, 105, 0.2);
  grid-column: 1 / 2;
  grid-row: 1 / 9;
}

.main-container {
  display: grid;
  height: 100vh;
  grid-template: repeat(8, 1fr) / 14rem repeat(6, 1fr) 30rem;
  /* grid-template: repeat(8, 1fr) / 14rem repeat(6, 1fr) 30vw; */
  position: relative;
}

.board-position-container {

  position: absolute;
  width: 32vw;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

#board-container {
  aspect-ratio: 6/5;
}

.board-grid-container {

  position: relative;
  grid-column: 2 / 8;
  grid-row: 1 / -1;

}

.main-menu {

  position: relative;
  display: none;
  padding-inline: 1rem;

  &>button {

    padding: 0.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: fit-content;
    user-select: none;

    &:hover {
      background-color: rgb(50, 50, 50);
    }
  }

  &>.menu-icons {

    position: absolute;
    top: 110%;
    background-color: rgb(30, 30, 30);
    border: 1px solid dimgray;
    display: flex;
    flex-direction: column;
    font-family: kreon;
    border-radius: 5px;
    z-index: 99;

    &>div {

      display: flex;
      color: beige;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: rgb(40, 40, 40);
      }

      &>.menu-icon {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: beige;

      }
    }


  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }
}



@media only screen and (max-width:1024px) {

  .main-container {
    display: block;
  }

  .main-menu {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .sidebar-container {
    display: none;
  }

  .solver-config-container {
    position: fixed;
    left: -25rem;
    height: 100%;
    z-index: 99;
    background-color: rgb(20, 20, 20);
    height: 90%;
    transition: left 0.5s ease;
    padding-top:2rem;
    padding-right: 3rem;

  }

  .solver-config-container.show1 {
    left:0;
  }

  .board-position-container {
    width: clamp(25rem, 50vw, 30rem);
  }

  .board-grid-container {
    position: absolute;
    width: 100vw;
    height: 90%;
  }

  #board-edit-toolbar {

    user-select: none;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    font-family: Kreon;
    padding: 0.2rem;
    gap: 0.2rem;

    &>div {
      padding: 0.2rem;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}